@model About
@{
    ViewData["Title"] = "Yeni Hakkımda Bilgisi Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}


<form method="post" >
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" required />
    <br />
    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control" rows="5" required ></textarea>
    <br />
    <label>Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" required />
    <br />

    <span class="text-danger">@Html.ValidationSummary()</span>

    <button class="btn btn-outline-dark">Kaydet</button>
</form>

